*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.fill{
    padding: 70px;
}
h1{
    text-align: center;
    color: #ea786f;
}
.fill-up{
    padding: 0 300px;
    font-weight: 500;
}
select{
    color: black;
    background-color: lightgreen;
}
input{
    color: black;
    background-color: #ea786f;
    border: 2px red solid;
}
.sign-up{
    color: white;
    background-color: darkgreen;
    border: none;
    padding: 4px;
    border-radius: 4px;
}
span{
    color: blue;
    text-decoration: underline;
}
