*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.fill{
    padding: 70px;
}
h1{
    text-align: center;
    color: #ea786f;
}
form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fill-up{
    font-weight: 500;
}
select{
    color: black;
    background-color: lightgreen;
    width: 300px;
}
input{
    color: black;
    background-color: #ea786f;
    border: 2px red solid;
}
.sign-up{
    color: white;
    background-color: darkgreen;
    border: none;
    padding: 4px;
    border-radius: 4px;
}
span{
    color: blue;
    text-decoration: underline;
}
input[type = text],
input[type = email],
input[type = password] {
    width: 300px;
}



